{{registrationForm.invalid | json}}
{{registrationForm.valid | json}}
{{registrationForm.pristine | json}}
{{registrationForm.dirty | json}}
{{registrationForm.value | json}}

<form [formGroup]="registrationForm" (submit)="saveData()">
  <mat-form-field class="full-width">
    <input matInput placeholder="Name" formControlName="name">
    <div>
      {{ registrationForm.get('name').errors | json }}
    </div>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Age" formControlName="age">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Mobile" formControlName="mobile">
  </mat-form-field>
  <div formGroupName="address">
    <mat-form-field class="full-width">
      <input matInput placeholder="Address Line1" formControlName="addressLine1">
      {{ registrationForm.get('address.addressLine1').errors | json }}
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Address Line2" formControlName="addressLine2">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Pin Code" formControlName="pin">
    </mat-form-field>
  </div>
  <button type="button" mat-raised-button color="primary" (click)="addHistory()">Add History</button>
  <div formArrayName="previousHistory">
    <div *ngFor="let history of registrationForm['controls'].previousHistory['controls']; let i=index">
      <div [formGroupName]="i">
        <mat-form-field class="full-width">
          <input matInput placeholder="hospitalizedAt" formControlName="hospitalizedAt">
          {{ registrationForm.get(['previousHistory', i, 'hospitalizedAt']).errors | json  }}
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="dtpicker" placeholder="From Date" formControlName="fromdate">
          <mat-datepicker-toggle matSuffix [for]="dtpicker"></mat-datepicker-toggle>
          <mat-datepicker #dtpicker></mat-datepicker>
          {{ registrationForm.get(['previousHistory', i, 'fromdate']).errors | json  }}
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" placeholder="To Date" formControlName="todate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Desease" formControlName="desease">
        </mat-form-field>
      </div>
      <div *ngIf="i > 0">
        <button type="button" mat-raised-button color="warn" (click)="removeHistory(i)">Remove History</button>
      </div>
    </div>
  </div>
  <div>
    <button [disabled]="registrationForm.invalid" type="submit" mat-raised-button color="primary">Register</button>
  </div>
</form>
